.App {
  font: sans-serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "header"
    "whiteboard";
}

#topbar { 
  color: white;
  background-color: #4e1ebb;
  padding: "15px 0 0 15px";
  grid-area: header; 
}

#whiteboard {
  grid-area: whiteboard;
  padding: 16px 0px 0px 16px;
}
