.white-board {
  width: 1300px;
  height: 600px;
  border: 1px solid;
  border-radius: 20px;
  
}
#container {
  display: grid;
  grid-template-columns: 2fr 17fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "toolbox  whiteboard";
}

#toolbox { 
  grid-area: toolbox; 
}

#boardcanvas {
  grid-area: whiteboard;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
#canvas{
  grid-column: 1;
  grid-row: 1;
}
#canvas2{
  grid-column: 1;
  grid-row: 1;
}